<h1>Newark international Airport's current capabilities</h1>

In [25]:
import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [26]:
#This cell stores functions and methods useful across the analysis, like an utils files
def sep_identifier(file_path):
    """Function to detect, collect and return the kind of 
    delimiter of each file"""
    with open(file_path, encoding='utf-8') as csvfile:
        dialect = csv.Sniffer().sniff(csvfile.read())
        return dialect.delimiter

<h2>Exploratory Data Analysis</h2>

In [7]:
path = './dataset/'

In [5]:
df = pd.read_csv("./dataset/nyc_airlines.csv")

In [27]:
dataframes = {}
for file in os.listdir(path):
    full_path = os.path.join(path, file)
    if file.endswith('.csv'):
        df = pd.read_csv(
                filepath_or_buffer= full_path,
                sep= sep_identifier(full_path))
        name = file.split(".")[0]
        dataframes[name] = df

In [35]:
#List of the dataframes names
dataframes.keys()

dict_keys(['nyc_weather', 'nyc_flights_fixed', 'nyc_planes', 'nyc_airlines', 'nyc_airports'])

In [38]:
dataframes['nyc_weather'].head(1)

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01T06:00:00Z

In [43]:
dataframes['nyc_airports'].head(2)

,faa,name,latitude,longitude,altitude,timezone,dst,timezone_name
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago

<h2>Overall Pane</h2>
<li>
    <ul>1. Determine the number of distinct destinations connected to the airport.</ul>
    <ul>2. Calculate the rounded average of distinct destinations for each day.</ul>
    <ul>3. Calculate the average number of destinations per day of the week.</ul>
    <ul>4. Identify the month with the highest number of flights.</ul>
</li>

In [49]:
#1
destinations = dataframes['nyc_airports']['name'].nunique()
print(f"The number of distinct destinations connected to the airport is: {destinations}")

The number of distinct destinations connected to the airport is: 1440